<form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
  <div class="form-group">
    <label for="IMAGEURL">Image Url</label>
    <input
      class="form-control"
      id="IMAGEURL"
      placeholder="Enter IMAGE URL"
      ngModel
      name="img"
      required
    />
  </div>
  <div class="form-group">
    <label for="NAME">NAME</label>
    <input
      class="form-control"
      id="NAME"
      placeholder="NAME"
      ngModel
      name="name"
      required
    />
  </div>
  <div class="form-group">
    <label for="model">model</label>
    <input
      class="form-control"
      id="model"
      placeholder="model"
      ngModel
      name="model"
      required
    />
  </div>
  <div class="form-group">
    <label for="resolution">resolution</label>
    <input
      class="form-control"
      id="resolution"
      placeholder="resolution"
      ngModel
      name="resolution"
      required
    />
  </div>
  <div class="form-group">
    <label for="Processor">Processor</label>
    <input
      class="form-control"
      id="Processor"
      placeholder="Processor"
      ngModel
      name="Processor"
      required
    />
  </div>
  <div class="form-group">
    <label for="HardDrive">HardDrive</label>
    <input
      class="form-control"
      id="HardDrive"
      placeholder="HardDrive"
      ngModel
      name="HardDrive"
      required
    />
  </div>
  <div class="form-group">
    <label for="RAM">RAM</label>
    <input
      class="form-control"
      id="RAM"
      placeholder="RAM"
      ngModel
      name="RAM"
      required
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary btn-lg btn-block"
    [disabled]="!form.valid"
  >
    Submit
  </button>
</form>
